<content>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">分类1</div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.baidu.com/favicon.ico"><span class="nav-txt">百度</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.jd.com/favicon.ico"><span class="nav-txt">京东商城</span>
            </a>
          </div>  
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.baidu.com/favicon.ico"><span class="nav-txt">百度</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.jd.com/favicon.ico"><span class="nav-txt">京东商城</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.baidu.com/favicon.ico"><span class="nav-txt">百度</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.jd.com/favicon.ico"><span class="nav-txt">京东商城</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.baidu.com/favicon.ico"><span class="nav-txt">百度</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.jd.com/favicon.ico"><span class="nav-txt">京东商城</span>
            </a>
          </div>    
         
        </div>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">分类1</div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.baidu.com/favicon.ico"><span class="nav-txt">百度</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.jd.com/favicon.ico"><span class="nav-txt">京东商城</span>
            </a>
          </div>  
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.baidu.com/favicon.ico"><span class="nav-txt">百度</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.jd.com/favicon.ico"><span class="nav-txt">京东商城</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.baidu.com/favicon.ico"><span class="nav-txt">百度</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.jd.com/favicon.ico"><span class="nav-txt">京东商城</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.baidu.com/favicon.ico"><span class="nav-txt">百度</span>
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju">
            <a class="bread" href="https://baidu.com" target="_blank" title="百度">
              <img class="nav-logo" src="https://www.jd.com/favicon.ico"><span class="nav-txt">京东商城</span>
            </a>
          </div>    
         
        </div>
      </div>
    </div>
  </div>
</content>
