<content>
  <!-- {{data}} -->
  <div class="panel panel-default" ng-repeat="i in data">
    <!-- Default panel contents -->
    <div class="panel-heading">{{i.typeName}}</div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6 col-jianju" ng-repeat="item in i.links">
            <a class="bread" href="{{item.url}}" target="_blank" title="{{item.name}}">
              <img class="nav-logo" src="{{item.logoUrl}}" src="images/default-link-logo.png">
              <span class="nav-txt">{{item.name | limitTo : 8}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
